---
import { Icon } from 'astro-icon/components';

interface Props {
    icon: string;
    title: string;
    description: string;
    features: string[];
    image?: string;
    alt?: string;
    reverse?: boolean;
}

const { icon, title, description, features, image, alt = '', reverse = false } = Astro.props;
---

<section class={`service-details ${reverse ? 'reverse' : ''}`}>
    <div class="text-block">
        <div class="service-header">
        <div class="icon">
            <Icon name={icon} width="48" height="48" />
        </div>
        <h3>{title}</h3>
        </div>
        <p class="service-description">{description}</p>

        <ul class="service-features">
        {features.map((feature) => (
            <li>{feature}</li>
        ))}
        </ul>
    </div>
    {image && (
        <div class="image-block">
        <img src={image} alt={alt} loading="lazy" />
        </div>
    )}
</section>

<style scoped>
.service-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xl);
    padding-block: var(--space-xl);
    flex-wrap: wrap;
}

.service-details.reverse {
    flex-direction: row-reverse;
}

.text-block {
    flex: 1 1 480px;
    max-width: 600px;
}

.image-block {
    flex: 1 1 480px;
    max-width: 480px;
}

.image-block img {
    width: 100%;
    height: auto;
}

.service-header {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    margin-bottom: var(--space-md);
}

.icon {
    flex-shrink: 0;
    color: var(--color-secondary);
}

.service-description {
    font-size: var(--fontsize-base);
    margin-bottom: var(--space-md);
    max-width: 65ch;
}

.service-features {
    list-style: none;
    padding: 0;
    display: grid;
    gap: var(--space-sm);
    max-width: 48ch;
}
</style>
