---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import type { Language } from '../i18n/utils';
import '../styles/global.css';
import stylesBlog from '../styles/ProjectLayout.module.css';
import styles from '../styles/Layout.module.css';


type Props = CollectionEntry<'blog'>['data'] & { author?: string };

const { title, description = '', date, author = 'ElPuas Digital Crafts', lang = 'en' as Language } = Astro.props;
const pubDate = date;
---
<!DOCTYPE html>
<html lang={lang}>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<header>
			<div class:list={styles.wrapper}>
				<Header lang={lang} />
			</div>
		</header>
		<main>
		<article class:list={stylesBlog.article}>
			<div class="prose" class:list={stylesBlog.prose}>
				<div class="title">
					<h1>{title}</h1>
					<div class="blog-date">
						<FormattedDate date={pubDate} />
						<p>By <span class="accent">{author}</span></p>
					</div>
				</div>
				<slot />
			</div>
		</article>
</main>
<footer>
	<div class:list={styles.wrapper}>
		<Footer lang={lang} />
	</div>
</footer>
</body>
</html> 